body{background-image: url(../img/space-01.png)}

.container{width: 960px; margin: 0 auto; background-color: #D3DAEA; overflow: auto;}
h2{text-align: center;}

.col-6{width: 48%; float: left;}
.heading{font-weight: bold;}

.right{float: right;}