<!doctype html>
<html lang="en" ng-app="waitCalcApp">
<head>
  <meta charset="UTF-8">
  <title>SpaceBar Waitstaff Calculator</title>

  <link rel="stylesheet"  href="css/normalize.css">
  <link rel="stylesheet"  href="css/main.css">
 <head>
 <body ng-controller="calcCtrl">
 	<div class="container">
 		<h2>SpaceBar Waitstaff Calculator</h2>


 		<div class="col-6">
 			<div class="box">
	 			<div class="heading">
	 				Enter the Meal Details
	 			</div>
	 			<form name="detailsForm" ng-submit="submitted=true; submit();" novalidate>
		 			<p>
		 				Base Meal Price: $
		 				<input type="number" name="mealTotal" ng-model="data.meal" required>
		 				<p ng-if="detailsForm.mealTotal.$error.number || (submitted && detailsForm.mealTotal.$error.required)">Please enter a valid number</p>
		 			</p>
		 			<p>
		 				Tax Rate: %
		 				<input type="number" name="taxRate" ng-model="data.tax" required>
		 				<p ng-if="detailsForm.taxRate.$error.number || (submitted && detailsForm.taxRate.$error.required)">Please enter a valid number</p>
		 			</p>
		 			<p>
		 				Tip Percentage: %
		 				<input type="number" name="tipPerc" ng-model="data.tip" required>
		 				<p ng-if="detailsForm.tipPerc.$error.number || (submitted && detailsForm.tipPerc.$error.required)">Please enter a valid number</p>
		 			</p>
		 			<button type="submit" class="main">Submit</button> <button class="secondary">Cancel</button>
		 		</form>
	 		</div>
 		</div>

 		<div class="col-6">
 			<div class="box">
 				<div class="heading">
 					Customer Charges
 				</div>
 				<p>Subtotal: <span> {{ subtotal | currency }} </span></p>
 				<p>Tip: <span> {{ tiptotal | currency }} </span></p>
 				<p>Total: <span> {{ totaltotal | currency }} </span></p>
 			</div>

 			<div class="box">
 				<div class="heading">
 					My Earnings Info
 				</div>
 				<p>Tip Total: <span> {{ tip_total | currency}} </span></p>
 				<p>Meal Count: <span> {{ meal_count }} </span></p>
 				<p>Average Tip per Meal: <span> {{ tip_average | currency }}</span></p>
 			</div>
 		</div>

 		<button ng-click="reset()" class="main right">Reset</button>



 	</div>
 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
 	<script src="js/myApp.js"></script>
</body>
</html>