<!doctype html>
<html lang="en" ng-app="waitCalcApp">
<head>
  <meta charset="UTF-8">
  <title>Doggy Diner Waitstaff Calculator</title>

  <link rel="stylesheet"  href="css/normalize.css">
  <link rel="stylesheet"  href="css/main.css">

  <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>

 <head>
 <body ng-controller="calcCtrl">
 	<div class="container">
 		<header>
	 		<img src="img/dinerlogo.png">
	 		<h2>Doggy Diner Waitstaff Calculator</h2>
	 		<p>High end dining for pets and their humans</p>
	 	</header>

 		<div class="col-6">
 			<div class="box">
	 			<div class="heading">
	 				Enter the Meal Details
	 			</div>
	 			<form name="detailsForm" ng-submit="submitted=true; submit();" novalidate>
		 			<p>
		 				Base Meal Price:
		 				<input class="formInput" type="number" placeholder="$" name="mealTotal" ng-model="data.meal" required>
		 				<p class="error" ng-if="detailsForm.mealTotal.$error.number || (submitted && detailsForm.mealTotal.$error.required)">Please enter a valid number</p>
		 			</p>
		 			<p>
		 				Tax Rate:
		 				<input class="formInput" type="number" placeholder="%" name="taxRate" ng-model="data.tax" required>
		 				<p class="error" ng-if="detailsForm.taxRate.$error.number || (submitted && detailsForm.taxRate.$error.required)">Please enter a valid number</p>
		 			</p>
		 			<p>
		 				Tip Percentage:
		 				<input class="formInput" type="number" placeholder="%" name="tipPerc" ng-model="data.tip" required>
		 				<p class="error" ng-if="detailsForm.tipPerc.$error.number || (submitted && detailsForm.tipPerc.$error.required)">Please enter a valid number</p>
		 			</p>
		 			<button class="button main" type="submit" >Submit</button>
		 			<input type="button" class="button secondary" ng-click="cancel()" value="Cancel">
		 		</form>
	 		</div>
 		</div>

 		<div class="col-6">
 			<div class="box">
 				<div class="heading">
 					Customer Charges
 				</div>
 				<p>Subtotal: <span> {{ subtotal | currency }} </span></p>
 				<p>Tip: <span> {{ tiptotal | currency }} </span></p>
 				<p>Total: <span class="bold"> {{ totaltotal | currency }} </span></p>
 			</div>

 			<div class="box">
 				<div class="heading">
 					My Earnings Info
 				</div>
 				<p>Tip Total: <span> {{ tip_total | currency}} </span></p>
 				<p>Meal Count: <span> {{ meal_count }} </span></p>
 				<p>Average Tip per Meal: <span> {{ tip_average | currency }}</span></p>
 			</div>
 		</div>

 		<button ng-click="reset()" class="button main right">Reset</button>



 	</div>
 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
 	<script src="js/myApp.js"></script>
</body>
</html>